.task-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.dashboard-selection {
  max-height: 100px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.dashboard-selection h2 {
  padding: 20px;
  height: 100px;
  width: 25%;
  font-weight: bold;
  color: white;
  transition: background-color 0.5s ease;
  text-align: center;
}

#Selected {
  background-color: #3e5de6;
  color: antiquewhite;
}

#Unselected {
  background-color: #667eea;
}
#Unselected:hover {
  background-color: #3e5de6;
  cursor: pointer;
}
